/* основний колір #212121 */
/* додатковий колір #757575 */
/* акцент #2196F3 */
/* білий колір #ffffff */

:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #2196F3;
    --white-text-color: #ffffff;
}
body {
background-color: #ffffff;
font-family: Roboto, sans-serif;
color: var(--main-text-color);
letter-spacing: 0.03em;
font-size: 14px;
}
.button{
    cursor: pointer;
}
/* Header */
    /* Logo */
.logo{
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
}
.logo-web{
    color: var(--accent-color);
}
.page-header .logo{
    color: var(--main-text-color);
}
     /* Navigation */
.navigation{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}
.site-nav, .contacts-header{
    list-style: none;
}
.site-nav .link{
    color: var(--main-text-color);
text-decoration: none;
}
.site-nav .link.current{
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts-header .link:hover,
.contacts-header .link:focus{
    color: var(--accent-color);
}
.contacts-header .link{
    color: var(--second-text-color);
text-decoration: none;
font-weight: 500;
line-height: 1,14;
letter-spacing: 0.02em;
}
                                   /* Studio */
   /* Hero */
.hero{
    background-color: #2F303A;
}
.text-hero{
    color: var(--white-text-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero .button{
    color: var(--white-text-color);
background-color: var(--accent-color);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
}
     /* Feature */
.display{
    display: none;
}
.list-feature{
    list-style: none;
}
.list-feature .title{
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}
.list-feature .desc{
    color: var(--second-text-color);
line-height: 1.7;
}
     /* Work */
     .list-work{
    list-style: none;
}
.desc-work, .desc-team{
    font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
}
     /* Team */
.team-list{
    list-style: none;
}
.team-list .title{
    font-weight: 500;
font-size: 16px;
line-height: 1.19;
}
.team-list .desc{
    color: var(--second-text-color);
font-size: 16px;
line-height: 1.19;
}
                                  /* Portfolio */
/* Filter */
.filter{
    list-style: none;
}
.filter .button{
    font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
}
.filter .button:hover,
.filter .button:focus{
    color: var(--white-text-color);
    background-color: var(--accent-color);
}
/* Gallery */
.gallery{
    list-style: none;
}
.gallery .list{
    text-decoration: none;
}
.gallery .title{
    color: var(--main-text-color);
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.gallery .desc{
    color: var(--second-text-color);
font-size: 16px;
line-height: 1.87;
}

/* Footer */
.page-footer{
    background-color: #2F303A;
}
.page-footer .logo{
    color: var(--white-text-color);
}
.adress-list{
    list-style: none;
}
.adress-list .link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
line-height: 1.71;
font-style: normal;
}
.adress-list .link:hover,
.adress-list .link:focus{
    color: var(--accent-color);
}
.adress-list .text{
    color: var(--white-text-color);
line-height: 1.71;
font-style: normal;
}