/* основний колір #212121 */
/* додатковий колір #757575 */
/* акцент #2196F3 */
/* білий колір #ffffff */
html{
    box-sizing: border-box;
}

*,

*::before,

*::after{box-sizing: inherit;

}

:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #2196F3;
    --white-text-color: #ffffff;
}
body {
background-color: #ffffff;
font-family: Roboto, sans-serif;
color: var(--main-text-color);
letter-spacing: 0.03em;
font-size: 14px;
}


/* exsamples */
.container{
    outline: 2px solid tomato;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

   
}
/* .btn-hero{

} */
/* end examples */





.button{
    cursor: pointer;
}
/* Header */
    /* Logo */
    
.logo{
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
}
.logo-web{
    color: var(--accent-color);
}
.page-header .logo{
    color: var(--main-text-color);
}
     /* Navigation */
.navigation{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}
.site-nav, .contacts-header{
    list-style: none;
    margin: 0px;
}
.site-nav .link{
    color: var(--main-text-color);
text-decoration: none;
}
.site-nav .link.current{
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts-header .link:hover,
.contacts-header .link:focus{
    color: var(--accent-color);
}
.contacts-header .link{
    color: var(--second-text-color);
text-decoration: none;
font-weight: 500;
line-height: 1,14;
letter-spacing: 0.02em;
}
                                   /* Studio */
   /* Hero */
   /* .main{
    outline: 2px solid tomato;
   } */
.hero{
    background-color: #2F303A;
    text-align: center;
    
}
.text-hero{

margin-top: 0px;
margin-bottom: 30px;

    color: var(--white-text-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero .button{
    border-radius: 4px;
padding: 10px 32px;
min-width: 200px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border: 0px;
margin-bottom: 200px;

color: var(--white-text-color);
background-color: var(--accent-color);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
}
     /* Feature */
    

.display{
    display: none;
}
.list-feature{
    list-style: none;
    margin: 0px;
   padding-top: 94px;
}
.list-feature .title{
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
margin:0px;
}
.list-feature .desc{
    color: var(--second-text-color);
line-height: 1.7;
margin: 0px;
}
     /* Work */


     .list-work{
    list-style: none;
    margin: 0px;
    padding-bottom: 94px;
}

.desc-work, .desc-team{
    font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
margin: 0px;
padding-top: 94px;
}
.desc-work{
    margin-bottom: 50px;
}

     /* Team */
.team{
    background-color: #F5F4FA;
}

.team-list{
    list-style: none;
    margin: 0px;
    padding-bottom: 94px;
}
.team-list .title{
    font-weight: 500;
font-size: 16px;
line-height: 1.19;
margin: 0px;
}
.team-list .desc{
    color: var(--second-text-color);
font-size: 16px;
line-height: 1.19;
margin: 0px;
}
                                  /* Portfolio */
/* Filter */
.filter{
    list-style: none;
}


.filter .button{
    font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
background-color: #F5F4FA;
border-radius: 4px;
padding: 6px 22px;
border: 0px;

}
.filter .button:hover,
.filter .button:focus{
    color: var(--white-text-color);
    background-color: var(--accent-color);
}




/* Gallery */
.gallery{
    list-style: none;
}
.gallery .list{
    text-decoration: none;
}
.gallery .title{
    color: var(--main-text-color);
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.gallery .desc{
    color: var(--second-text-color);
font-size: 16px;
line-height: 1.87;
}

/* Footer */
.page-footer{
    background-color: #2F303A;
    
}
.page-footer .logo{
color: var(--white-text-color);


}
.adress-list{
    list-style: none;
}
.adress-list .link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
line-height: 1.71;
font-style: normal;
}
.adress-list .link:hover,
.adress-list .link:focus{
    color: var(--accent-color);
}
.adress-list .text{
    color: var(--white-text-color);
line-height: 1.71;
font-style: normal;
}